In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
def getSheetName(file_name):
    pointSheetObj = []
    import xlrd as xl
    TeamPointWorkbook = xl.open_workbook(file_name)
    pointSheets = TeamPointWorkbook.sheet_names()

    for i in pointSheets:
        pointSheetObj.append(tuple((TeamPointWorkbook.sheet_by_name(i),i)))
    return pointSheetObj

In [3]:
p = getSheetName('Model_Input_Final.xlsm')
p

[(<xlrd.sheet.Sheet at 0x7fcfd5b19d50>, u'Information'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19d90>, u'Demand_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19dd0>, u'Demand_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e10>, u'Selling_Price_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e50>, u'Selling_Price_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e90>, u'Penalty_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f10>, u'Penalty_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f50>, u'Holding_Cost_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f90>, u'Holding_Cost_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19fd0>, u'Operational_Cost'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895090>, u'Operation_Time'),
 (<xlrd.sheet.Sheet at 0x7fcfd58950d0>, u'Operational_Cost_Overtime'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895150>, u'Cutting_Pattern'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895190>, u'Item_Product_Group_Map'),
 (<xlrd.sheet.Sheet at 0x7fcfd58951d0>, u'Available_Hour_Regular'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895250>, u'Bird_Type_Ratio'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895290>, u'Common_Data'),
 (<xlrd.sheet.Sheet at 0x7fcfd58952d0>, u'Availability'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895310>, u'Available_Hour_Overtime'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895350>, u'Initial_Inventory'),
 (<xlrd.sheet.Sheet at 0x7fcfd58953d0>, u'SKU Conversion'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895410>, u'Product_Group_Yield'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895450>, u'Raw_Material'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895490>, u'Fresh_Frozen_Relation'),
 (<xlrd.sheet.Sheet at 0x7fcfd58954d0>, u'Shelf_Life'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895550>, u'Yield_Originals'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895590>, u'Yield')]

In [6]:
demand_fresh = pd.read_excel('Model_Input.xlsm', sheet_name="Demand_Fresh")
demand_fresh = demand_fresh.dropna(axis='columns', how='all')

In [7]:
demand_fresh.columns

Index(['item code ', 'item description', 'Week 1', 'Week 2', 'Week 3',
       'Week 4', 'Unnamed: 12'],
      dtype='object')

In [80]:
(set(demand_fresh['item description'])).difference(set(frozen['item description']))
(set(demand_fresh['item description'])).difference(set(frozen['item description']))

{'3 JOINT WING JC ',
 '4 PC CUT WO SKIN X 2 BIRDS ',
 '9 PCCUT CHIC - KFC HS ',
 '9 PCCUT CHIC - KFC OR (WO 3JW) ',
 'BLACK PEPPER ROAST CHICKEN 1.1 ',
 'BLACK PEPPER ROAST QUARTER LEG ',
 'BONELESS THIGH (75-85G) ',
 'CHICKEN HEAD ',
 'CHICKEN SKIN ',
 'CHILL MAR ORI CHIC QTR (TEXAS) ',
 "CHILL MAR ORI CHICKEN WENDY'S ",
 'CHILL MAR. ORI CHICKEN (TEXAS) ',
 'DRUMMET MF (38-50G) 150PC ',
 'DRUMSTICK ',
 'DRUMSTICK (100-140G) 20PC ',
 'DRUMSTICK CUBE ',
 'FILLET ',
 'HONEY ROAST QUARTER LEG ',
 'HOT & SPICY ROAST QUARTER LEG ',
 'LEG BONE ',
 'LIVER BROKEN ',
 'LIVER WITHOUT HEART 125G ',
 "MAR BREAST NANDO'S 5PC ",
 'MAR BSL THIGH 5070 ND-10P ',
 'MAR CHICKEN BLK PEPPER (BFLY) ',
 'MAR CHICKEN HONEY (BFLY) ',
 'MAR CHICKEN HOT & SPICY (BFLY) ',
 'MAR CHICKEN PERCIK (BFLY) ',
 "MAR FILLET NANDO'S-20PC ",
 'MAR QLEG KUNYIT-EK (250-270G) ',
 'MAR THI TURMERIC-EK(140-160G) ',
 'MAR WHOLE BIRD KRR-BP 10BDS C ',
 'MAR WHOLE BIRD KRR-MEX 10BDS C ',
 'MAR WHOLE BIRD KRR-OR 10BDS C ',
 'MAR WHOLE BIRD NANDOS-OR 2BDS ',
 'MAR WHOLE BIRD NANDOS-OR 4BDS ',
 "MAR WING NANDO'S 20PC ",
 "MAR WING NANDO'S 9PC ",
 'MAR. 9PC CUT MCD-HS 18PC ',
 'MAR. 9PC CUT MCD-OR 18PC ',
 'MAR. BL BREAST BFLY ND 4PC ',
 'MID JOINT WING MF(30-40)150PC ',
 'QUARTER LEG ',
 'QUARTER LEG (220-270G) 10PC ',
 'RIB ',
 'ROAST CHICKEN HONEY 2BDS ',
 'ROAST CHICKEN HOT & SPICY 2BDS ',
 'ROAST CHICKEN PERCIK 2BDS ',
 'ROAST WHOLE CHIC B.PEPPER M1 ',
 'ROAST WHOLE CHIC MAHSURI M1 ',
 'ROAST WHOLE CHICKEN HONEY M1 ',
 "S'LESS B'LESS THIGH (FAT FREE) ",
 'THIGH ',
 'WHOLE BIRD L1 (GIBLET 4 IN 1 ) ',
 'WHOLE CHIC(M2)1351-1650GSP GCH ',
 'WHOLE CHICKEN WITH H&F&G (L1) '}

In [71]:
len(set(frozen['item description']))

117

In [20]:
frozen = pd.read_excel('Model_Input.xlsm', sheetname="Demand_Frozen")
frozen = frozen.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [34]:
fro = []
for i in set(frozen['item description'].unique()):
    fro.append(i[:-2])

In [36]:
len(fro)

119

In [33]:
fre = []
for i in set(demand_fresh['item code '].unique()):
    fre.append(i[:-2])

In [37]:
len(fre)

109

In [66]:
len(set(fre).intersection(set(fro)))

51

In [65]:
(set(fro).difference(set(fre)))

set()

In [46]:
len(set(fre).union(set(fro)))

178

In [10]:
shelf_life = pd.read_excel('Model_Input.xlsm', sheetname="Shelf_Life")
shelf_life = shelf_life.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [11]:
shelf_life

         item code   Shelf_Life
0    BBR0F0000K02DC           3
1    BBRSF0000K02DC           4
2    BBRSF0000RETDC           5
3    BBRSMF000K04DC           6
4    BFL0F0000K02DC           7
5    BLG0F0000K02DC           8
6    BLGSF0000K02DC           9
7    BTH007585K04DC          10
8    BTHSF0000K02DC          11
9    BTHSMF000K04DC          12
10   BTHSMF0FFK04DC          13
11   C3JW07100K02DC          14
12   C3JW09130K02DC          15
13   C4PC00000P08DC          16
14   C9PC00000P18DC          17
15   C9PCKFC00P14DC          18
16   C9PCKFC00P18DC          19
17   C9PCWBM20P18DC          20
18   CBRSH2332P10DC          21
19   CCHICU000K02DC          22
20   CCHICU000K06DC          23
21   CDS008110K02DC          24
22   CDS010140K02DC          25
23   CDS010140P20DC          26
24   CDS0CU000K02DC          27
25   CDS0F0000RETDC          28
26   CKE0F0000K02DC          29
27   CKE0F0000RETDC          30
28   CLG022270K06DC          31
29   CLG022270P10DC          32
..              ...         ...
79   MPORWM1BPP02DC          82
80   MPORWM1HSP02DC          83
81   MPORWM1HSRETDC          84
82   MPORWM1HYP02DC          85
83   MPORWM1HYRETDC          86
84   MPORWM1PKP02DC          87
85   MPORWM1PKRETDC          88
86   MPORWM4BPRETDC          89
87   MPORWMHM1P02DC          90
88   MPORWNDORP02DC          91
89   MPORWNDORP04DC          92
90   P3JW07090K02DC          93
91   P3JW08100K02DC          94
92   P3JWF0000RETDC          95
93   PDMTF0000K02DC          96
94   PDMTF0000RETDC          97
95   PDMTMF000150DC          98
96   PMJWF0000K02DC          99
97   PMJWMF000150DC         100
98   WBL1BP000P10DC         101
99   WBL1SPG41P01DC         102
100  WBL1SPHFGP01DC         103
101  WBM1BP000P10DC         104
102  WBM1SP000P01DC         105
103  WBM2BP000P10DC         106
104  WBM2SP000P01DC         107
105  WBM2SPGCHP01DC         108
106  WBS2BP000P10DC         109
107  WNC03P000P03DC         110
108  WNC03P0S2P03DC         111

[109 rows x 2 columns]

In [12]:
y = pd.read_excel('Model_Input.xlsm', sheetname="Yield")
y = y.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [13]:
len(y['Product'].unique())

109

In [61]:
d = pd.DataFrame()

In [62]:
d['Fresh'] = sorted(fre)

In [63]:
d1 = pd.DataFrame()
d1['Frozen'] = sorted(fro)

In [64]:
d2 =pd.concat([d,d1], ignore_index=True, axis=1)

In [65]:
d2.to_csv('products.csv')

In [102]:
wa = [1+n*24 for n in range(0,15)]
wa

[1, 25, 49, 73, 97, 121, 145, 169, 193, 217, 241, 265, 289, 313, 337]

In [105]:
wb = [9+n*24 for n in range(0,15)]
wb

[9, 33, 57, 81, 105, 129, 153, 177, 201, 225, 249, 273, 297, 321, 345]

In [1]:
import pandas as pd

In [2]:
fresh_sold = pd.read_csv('Fresh_Product_Sold.csv')
fresh_sold

            days  Day_1  Day_2  Day_3  Day_4
0         Ribs_1   1463    777   1629   1447
1        Keels_1   1397   1569   1106   1700
2         Legs_1   1322   1550   1184   1161
3        Thigh_1   1269   1525   1331   1589
4        Wings_1    806   1147    431   1598
5      Breasts_1    577   1057    404   1715
6   Drumsticks_1   3411   3411   3407   3411
7         Ribs_2   1625    133   1492   1158
8        Keels_2   1104   1467   1151   1857
9         Legs_2   1138   1628   1375   1792
10       Thigh_2   1426   1102   1574   1162
11       Wings_2   1106   1813   1122   1598
12     Breasts_2    729   1076    265   1222
13  Drumsticks_2   1196   1164   1451   1483

In [13]:
fresh_sold = pd.read_csv('Fresh_Product_Sold.csv')
fresh_sold[['Products','Customer']] = pd.DataFrame(fresh_sold.days.str.split('_',1).tolist(),
                                   columns = ['Products','Customer'])
del fresh_sold['days']
fresh_sold['keyfigure'] = "fresh_sold"
fresh_sold

    Day_1  Day_2  Day_3  Day_4    Products Customer   keyfigure
0    1463    777   1629   1447        Ribs        1  fresh_sold
1    1397   1569   1106   1700       Keels        1  fresh_sold
2    1322   1550   1184   1161        Legs        1  fresh_sold
3    1269   1525   1331   1589       Thigh        1  fresh_sold
4     806   1147    431   1598       Wings        1  fresh_sold
5     577   1057    404   1715     Breasts        1  fresh_sold
6    3411   3411   3407   3411  Drumsticks        1  fresh_sold
7    1625    133   1492   1158        Ribs        2  fresh_sold
8    1104   1467   1151   1857       Keels        2  fresh_sold
9    1138   1628   1375   1792        Legs        2  fresh_sold
10   1426   1102   1574   1162       Thigh        2  fresh_sold
11   1106   1813   1122   1598       Wings        2  fresh_sold
12    729   1076    265   1222     Breasts        2  fresh_sold
13   1196   1164   1451   1483  Drumsticks        2  fresh_sold

In [4]:
Fresh_sold = pd.concat([fresh_sold, fresh_sold1], axis=1)

In [5]:
Fresh_sold

            days  Day_1  Day_2  Day_3  Day_4    Products Customer
0         Ribs_1   1463    777   1629   1447        Ribs        1
1        Keels_1   1397   1569   1106   1700       Keels        1
2         Legs_1   1322   1550   1184   1161        Legs        1
3        Thigh_1   1269   1525   1331   1589       Thigh        1
4        Wings_1    806   1147    431   1598       Wings        1
5      Breasts_1    577   1057    404   1715     Breasts        1
6   Drumsticks_1   3411   3411   3407   3411  Drumsticks        1
7         Ribs_2   1625    133   1492   1158        Ribs        2
8        Keels_2   1104   1467   1151   1857       Keels        2
9         Legs_2   1138   1628   1375   1792        Legs        2
10       Thigh_2   1426   1102   1574   1162       Thigh        2
11       Wings_2   1106   1813   1122   1598       Wings        2
12     Breasts_2    729   1076    265   1222     Breasts        2
13  Drumsticks_2   1196   1164   1451   1483  Drumsticks        2

In [6]:
df = Fresh_sold
del df['days']

In [7]:
df

    Day_1  Day_2  Day_3  Day_4    Products Customer
0    1463    777   1629   1447        Ribs        1
1    1397   1569   1106   1700       Keels        1
2    1322   1550   1184   1161        Legs        1
3    1269   1525   1331   1589       Thigh        1
4     806   1147    431   1598       Wings        1
5     577   1057    404   1715     Breasts        1
6    3411   3411   3407   3411  Drumsticks        1
7    1625    133   1492   1158        Ribs        2
8    1104   1467   1151   1857       Keels        2
9    1138   1628   1375   1792        Legs        2
10   1426   1102   1574   1162       Thigh        2
11   1106   1813   1122   1598       Wings        2
12    729   1076    265   1222     Breasts        2
13   1196   1164   1451   1483  Drumsticks        2

In [248]:
df_1 = df[(df['Customer']=='1')]

In [249]:
df_2 = df[df['Customer']=='2']

In [250]:
df_final = pd.concat([df_1.T,df_2.T],axis=1)

In [251]:
df_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Day_1,1463,1397,1322,1269,806,577,3411,1625,1104,1138,1426,1106,729,1196
Day_2,830,1569,1550,1525,1095,1057,3411,186,1467,1628,1102,1761,1076,1164
Day_3,1635,1106,1184,1331,425,404,3407,1498,1151,1375,1574,1116,265,1451
Day_4,1447,1700,1161,1589,1598,1715,3411,1158,1857,1792,1162,1598,1222,1483
Products,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks
Customer,1,1,1,1,1,1,1,2,2,2,2,2,2,2

In [241]:
def sjoin(x): return ';'.join(x[x.notnull()].astype(str))
df_final.groupby(level=0, axis=1).apply(lambda x: x.apply(sjoin, axis=1))

   Customer   Day_1   Day_2   Day_3   Day_4    Products
0         1  1463.0   830.0  1635.0  1447.0        Ribs
1         1  1397.0  1569.0  1106.0  1700.0       Keels
2         1  1322.0  1550.0  1184.0  1161.0        Legs
3         1  1269.0  1525.0  1331.0  1589.0       Thigh
4         1   806.0  1095.0   425.0  1598.0       Wings
5         1   577.0  1057.0   404.0  1715.0     Breasts
6         1  3411.0  3411.0  3407.0  3411.0  Drumsticks
7         2  1625.0   186.0  1498.0  1158.0        Ribs
8         2  1104.0  1467.0  1151.0  1857.0       Keels
9         2  1138.0  1628.0  1375.0  1792.0        Legs
10        2  1426.0  1102.0  1574.0  1162.0       Thigh
11        2  1106.0  1761.0  1116.0  1598.0       Wings
12        2   729.0  1076.0   265.0  1222.0     Breasts
13        2  1196.0  1164.0  1451.0  1483.0  Drumsticks

In [164]:
df = df.drop('days')

In [180]:
df=df.T

In [191]:
df =df.drop(' Products')

In [194]:
df

           Day_1 Day_2 Day_3 Day_4 Customer
Products
Ribs        1463   830  1635  1447        1
Keels       1397  1569  1106  1700        1
Legs        1322  1550  1184  1161        1
Thigh       1269  1525  1331  1589        1
Wings        806  1095   425  1598        1
Breasts      577  1057   404  1715        1
Drumsticks  3411  3411  3407  3411        1
Ribs        1625   186  1498  1158        2
Keels       1104  1467  1151  1857        2
Legs        1138  1628  1375  1792        2
Thigh       1426  1102  1574  1162        2
Wings       1106  1761  1116  1598        2
Breasts      729  1076   265  1222        2
Drumsticks  1196  1164  1451  1483        2

In [64]:
bird_count = pd.read_csv("Bird_Count.csv")
# bird_count.columns = range(bird_count.shape[1])
bird_count.columns = ['Days','Number']
bird_count = bird_count.T
bird_count = bird_count.drop("Days")
bird_count.columns = ['Day_1','Day_2','Day_3','Day_4']
bird_count['keyfigure'] = "bird_count"

In [48]:
bird_count = bird_count.T
bird_count

   Days Number
0  A[1]   5620
1  A[2]   4800
2  A[3]   4970
3  A[4]   3560

In [1]:
import pandas as pd

In [16]:
data = pd.read_excel('2test.xlsm', sheetname="Demand_Fresh")
data = data.dropna(axis='columns', how='all')

In [17]:
data.head()

             days  1
0  BBR0F0000K02DC  1
1  BBRSF0000K02DC  2
2  BBRSF0000RETDC  3
3  BBRSMF000K04DC  4
4  CTH013160K02DC  5

In [18]:
from itertools import product
# pd.DataFrame(list(product(l1, l2)), columns=['l1', 'l2'])
d = pd.DataFrame(list(product(data['days'], data[1])))
d
d['Combined'] = list(zip(d[0], d[1]))
lst = []
for i in d['Combined']:
    lst.append(i[0]+'_'+str(i[1]))
d['Combined']=lst
d.to_csv('Combined.csv')

In [6]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
data = data.dropna(axis='columns', how='all')

In [5]:
data = data.reset_index()

In [5]:
data.head()

,Product,Cutting Pattern,1.6,1.65,1.7,1.75,1.8,1.85,1.9,1.95,2,2.05,2.1,2.15,2.2,2.25,2.3,2.35,2.4
0,BBR02325ZK12DC,11,0.307559,0.317170,0.326781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBR02325ZK12DC,18,0.307559,0.317170,0.326781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BBR0F0000K02DC,9,0.316803,0.326703,0.336603,0.346503,0.371000,0.381305,0.391611,0.401916,0.428440,0.439151,0.449862,0.460573,0.440127,0.450130,0.460133,0.470136,0.480139
3,BBR0F0000K02DC,16,0.316803,0.326703,0.336603,0.346503,0.371000,0.381305,0.391611,0.401916,0.428440,0.439151,0.449862,0.460573,0.440127,0.450130,0.460133,0.470136,0.480139
4,BBR0F0000K02DC,10,0.272914,0.281443,0.289971,0.298500,0.326576,0.335648,0.344719,0.353791,0.384582,0.394197,0.403811,0.413426,0.379843,0.388476,0.397109,0.405742,0.414375

In [6]:
data.columns

Index([        u'Product', u'Cutting Pattern',                1.6,
                     1.65,                1.7,               1.75,
                      1.8,               1.85,                1.9,
                     1.95,                  2,               2.05,
                      2.1,               2.15,                2.2,
                     2.25,                2.3,               2.35,
                      2.4],
      dtype='object')

In [7]:
bird_ratio =  pd.read_excel('Model_Input_Final.xlsm', sheetname="Bird_Type_Ratio",)
bird_ratio = bird_ratio.dropna(axis='columns', how='all')

In [9]:
item_group =  pd.read_excel('Model_Input_Final.xlsm', sheetname="Item_Product_Group_Map",)
item_group  = item_group .dropna(axis='columns', how='all')

In [10]:
len(item_group['Item'])

220

In [2]:
demand_fresh = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Fresh")
demand_fresh = demand_fresh.dropna(axis='columns', how='all')

In [3]:
demand_frozen = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Frozen")
demand_frozen = demand_frozen.dropna(axis='columns', how='all')
len(demand_frozen['item code'])

119

In [4]:
ff = pd.read_excel('Model_Input_Final.xlsm', sheetname="Fresh_Frozen_Relation")
ff = ff.dropna(axis='columns', how='all')
len(ff)

51

In [14]:
fre = []
for i in set(ff['Fresh SKU'].unique()):
    fre.append(i[:-2])
fro = []
for i in set(ff['Frozen SKU'].unique()):
    fro.append(i[:-2])
dfre = []
for i in set(demand_fresh['item code'].unique()):
    dfre.append(i[:-2])
dfro = []
for i in set(demand_frozen['item code'].unique()):
    dfro.append(i[:-2])

In [5]:
demand = list(demand_fresh['item code'])+list(demand_frozen['item code'])

In [6]:
demand_fresh.columns

Index([u'item code', 1, 2, 3, 4], dtype='object')

In [7]:
ff =ff.astype(str)
for i in demand_frozen['item code'].astype(str).unique():
    if i in ff['Frozen SKU'].astype(str).unique():
        demand_frozen['item code'][demand_frozen.index[demand_frozen['item code']==i]]=ff['Fresh SKU'][ff.index[ff['Frozen SKU']==i]]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [93]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield_Originals",)
data = data.dropna(axis='columns', how='all')

In [65]:
shelf_lif = pd.read_excel('Model_Input_Final.xlsm', sheetname='Shelf_Life')
shelf_lif['item code'] = shelf_lif['item code'].astype(str)
shelf_life = max(shelf_lif['Shelf_Life'])
shelf_lif[shelf_lif['item code']=='BBR0F0000K02DC']['Shelf_Life'].iloc[0]

365.0

In [96]:
data =data.reset_index()

In [71]:
for i in demand_fresh.columns[1:]:
    print(type(i))

<type 'unicode'>
<type 'unicode'>
<type 'unicode'>
<type 'unicode'>

In [83]:
availability = pd.read_excel('Model_Input_Final.xlsm' ,sheetname='Availability')
availability = availability.dropna(axis='columns', how='all')

In [91]:
availability[availability['Days']=='Week 2']['Availability'].iloc[0]

91368

In [94]:
demand_fresh.head()

        item code        Week 1        Week 2        Week 3        Week 4
0  BBR0F0000K02DC   1918.683075   1918.683075   1918.683075   1918.683075
1  BBRSF0000K02DC    680.368225    680.368225    680.368225    680.368225
2  BBRSMF000K04DC  31383.528650  31383.528650  31383.528650  31383.528650
3  BFL0F0000K02DC   2576.113525   2576.113525   2576.113525   2576.113525
4  BLG0F0000K02DC    465.139750    465.139750    465.139750    465.139750

In [96]:
demand_fresh[demand_fresh['item code']=='BBR0F0000K02DC']['Week 1'].iloc[0]

1918.6830749999999

In [5]:
y = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
y = y.dropna(axis='columns', how='all')

In [13]:
y['item code'][y['item code']=='BBR0F0000K02DC']

2    BBR0F0000K02DC
3    BBR0F0000K02DC
4    BBR0F0000K02DC
5    BBR0F0000K02DC
Name: item code, dtype: object

In [45]:
for i in y['item code'].astype(str).unique():
    if i in ff['Frozen SKU'].astype(str).unique():
        print(ff['Fresh SKU'][ff.index[ff['Frozen SKU']==i]])
len(set(y['item code']))

192

In [14]:
set(ff['Fresh SKU']).union(set(ff['Frozen SKU'])).union(set(y['item code'])).union(set(demand_fresh['item code'])).union(set(demand_frozen['item code']))

{u'BBR02325ZK12DC',
 u'BBR0F0000K02DC',
 u'BBR0F0000K02DF',
 u'BBR0F000ZK25DC',
 u'BBR0FTRFZK15DC',
 u'BBR0FTRIMK05DC',
 u'BBR0FTRIMK05DF',
 u'BBR0FTRWZK15DC',
 u'BBRS07595P24DF',
 u'BBRS12150K02DC',
 u'BBRS12150K02DF',
 u'BBRS16180K05DC',
 u'BBRS16180K05DF',
 u'BBRS1821FK02DC',
 u'BBRS1821FK02DF',
 u'BBRS1823FK02DF',
 u'BBRS2325FK06DC',
 u'BBRS2325FK06DF',
 u'BBRS7585ZP20DC',
 u'BBRSF0000K02DC',
 u'BBRSF0000K02DF',
 u'BBRSF0000K03PF',
 u'BBRSF000ZK25DC',
 u'BBRSF00FZK12DC',
 u'BBRSF0NDZK12DC',
 u'BBRSF0PCZK12DC',
 u'BBRSF3540K02DF',
 u'BBRSF354ZK12DC',
 u'BBRSFCHRZK12DC',
 u'BBRSMF000K04DC',
 u'BBRSMF000K04DF',
 u'BBRSMF000K05DC',
 u'BBRSMF000K05DF',
 u'BBRSMF02CK02DF',
 u'BCH019220K02DF',
 u'BCH01922ZK12DC',
 u'BCH0192JZK06DF',
 u'BCH02123ZK12DC',
 u'BFL003540K02DF',
 u'BFL004047K02DF',
 u'BFL02035ZK12DC',
 u'BFL03554ZK12DC',
 u'BFL0F0000K02DC',
 u'BFL0F0000K02DF',
 u'BFL0F0000K02PF',
 u'BFL0F000ZK25DC',
 u'BFL0FFINZK12DC',
 u'BFL0FTAYZK12DC',
 u'BFL0FWOTZK12DC',
 u'BFL0MEATZK02DC',
 u'BLG018230K02DF',
 u'BLG0F0000K02DC',
 u'BLG0F0000K02DF',
 u'BLG0F000ZK25DC',
 u'BLGS07595P24DF',
 u'BLGSF0000K02DC',
 u'BLGSF0000K02DF',
 u'BLGSF000ZK25DC',
 u'BLGSF00FZK12DC',
 u'BLGSFBSDZK12DC',
 u'BLGSFBSDZK12DF',
 u'BLGSFTAYZK12DC',
 u'BLGSMF000K05DC',
 u'BTH005565K06DF',
 u'BTH007585K04DC',
 u'BTH007585P12DF',
 u'BTH009100K06DF',
 u'BTH009100P10DC',
 u'BTH0CU020K02DF',
 u'BTH0F0000K02DC',
 u'BTH0F0000K02DF',
 u'BTH0F000ZK25DC',
 u'BTH0F00DZK12DC',
 u'BTHS07595P24DF',
 u'BTHS5070ZK12DC',
 u'BTHS7090ZK12DC',
 u'BTHS8090ZK12DC',
 u'BTHS8499ZK12DC',
 u'BTHSF0000K02DC',
 u'BTHSF0000K02DF',
 u'BTHSF000ZK25DC',
 u'BTHSF00FZK12DC',
 u'BTHSMF000K04DC',
 u'BTHSMF000K04DF',
 u'BTHSMF02CK02DF',
 u'BTHSMF0FFK04DC',
 u'C10PCKP0ZP10DC',
 u'C3JW00BRUK02DF',
 u'C3JW07100K02DC',
 u'C3JW07100K02DF',
 u'C3JW0710ZK12DC',
 u'C3JW09120K04DF',
 u'C3JW09130K02DC',
 u'C3JW09130K02DF',
 u'C3JW0913VP06DC',
 u'C3JW0913VP06DF',
 u'C3JW0WIPZK12DC',
 u'C3JWL0000K02DF',
 u'C3JWNSBRUK02DF',
 u'C4PC00000P08DC',
 u'C8PC0TEXZP08DC',
 u'C8PC0TEXZP16DC',
 u'C9PC00000P18DC',
 u'C9PC00000P18DF',
 u'C9PC00KFCP18DF',
 u'C9PC00WDZP18DC',
 u'C9PC0WIPZP18DC',
 u'C9PCAW000P18DC',
 u'C9PCAW000P18DF',
 u'C9PCAW00ZP18DC',
 u'C9PCGCH00P18DF',
 u'C9PCKFC00P14DC',
 u'C9PCKFC00P14DF',
 u'C9PCKFC00P18DC',
 u'C9PCMD000P18DC',
 u'C9PCMD000P18DF',
 u'C9PCMD00ZP18DC',
 u'C9PCMDSTZP18DC',
 u'C9PCWBM20P18DC',
 u'C9PCWBM20P18DF',
 u'CBR0F0000K06DC',
 u'CBR0F0000K06DF',
 u'CBRSH2332P10DC',
 u'CBRSH2332P10DF',
 u'CBRSHWIPZK12DC',
 u'CCHI6080ZK06DC',
 u'CCHICU000K02DC',
 u'CCHICU000K06DC',
 u'CCHICU000K06DF',
 u'CCHICU000RETDC',
 u'CCHICU000RETDF',
 u'CDS008110K02DC',
 u'CDS008110K02DF',
 u'CDS0081BZK12DC',
 u'CDS00WIPZK12DC',
 u'CDS010140K02DC',
 u'CDS010140K02DF',
 u'CDS010140P20DC',
 u'CDS010140P20DF',
 u'CDS01014VP06DC',
 u'CDS01014VP06DF',
 u'CDS0CU000K02DC',
 u'CDS0CU000K02DF',
 u'CDS0J0000K02DF',
 u'CDS0L0000K02DC',
 u'CDS0MD00ZP20DC',
 u'CDS0S0000K02DC',
 u'CDS0S0000K02DF',
 u'CKE00WIPZK12DC',
 u'CKE01218VP04DC',
 u'CKE01218VP04DF',
 u'CKE0F0000K02DC',
 u'CKE0F0000K02DF',
 u'CKE0F000ZK12DC',
 u'CLG000300K06DC',
 u'CLG00WIPZK12DC',
 u'CLG022270K06DC',
 u'CLG022270K06DF',
 u'CLG022270P10DC',
 u'CLG022270P10DF',
 u'CLG02227ZP10DC',
 u'CLG02528ZP10DC',
 u'CLG026340K06DC',
 u'CLG026340K06DF',
 u'CLG2227KZP10DC',
 u'CRB00WIPZK12DC',
 u'CRB015190K02DC',
 u'CRB015190K02DF',
 u'CRB015190K06DC',
 u'CRB019240K02DC',
 u'CRB019240K02DF',
 u'CRB019240K06DC',
 u'CRB01924VP04DC',
 u'CRB01924VP04DF',
 u'CSLG2227ZP10DC',
 u'CTH00WIPZK12DC',
 u'CTH013160K02DC',
 u'CTH013160K02DF',
 u'CTH013160P20DF',
 u'CTH01316ZK12DC',
 u'CTH01316ZP20DC',
 u'CTH015180P12DF',
 u'CTH016190K02DF',
 u'CTH016210K02DC',
 u'CTH016210K02DF',
 u'CTH016210P20DF',
 u'CTH01621VP04DC',
 u'CTH01621VP04DF',
 u'GCARF0000K10DC',
 u'GCARF0000K10DF',
 u'GFAT000SKK01DF',
 u'GFATF0000K05DF',
 u'GFT0FBK00K06DC',
 u'GFT0FBK00K06DF',
 u'GFT0J0000K06DC',
 u'GFT0J0000K06DF',
 u'GFT0RG000K06DC',
 u'GFT0RG000K06DF',
 u'GGB0F0000K10DF',
 u'GGIZF0000K02DC',
 u'GGIZF0000K02DF',
 u'GGRDMMTPRK01DF',
 u'GGRDMMTSKK02DF',
 u'GHD0F0000K05DC',
 u'GLGBF0000K06DC',
 u'GLGBF0000K06DF',
 u'GLH0F0000K02DC',
 u'GLH0F0000K02DF',
 u'GLH0FBK00K02DC',
 u'GLV002426K13DC',
 u'GNK0F0000K10DF',
 u'GNKSF0000K06DC',
 u'GNKSF0000K06DF',
 u'GSK0MF000K04DC',
 u'GSK0MF000K04DF',
 u'GSKNF0000K05DF',
 u'GTL0F0000K06DC',
 u'GTL0F0000K06DF',
 u'GTL0F0BRUK06DF',
 u'MPORBBSAWP10DF',
 u'MPORBBSNDP05DC',
 u'MPORBFTEXK02DF',
 u'MPORBLBNDP04DC',
 u'MPORBSTEKP12DF',
 u'MPORBSTNDP10DC',
 u'MPORBTSTXK02DF',
 u'MPORBTSWDP20DF',
 u'MPORC4TEXP08DC',
 u'MPORC8TEXP16DC',
 u'MPORC9AW0P09DF',
 u'MPORC9AWSP09DF',
 u'MPORC9MD0P09DF',
 u'MPORC9MD0P18DC',
 u'MPORC9MDSP09DF',
 u'MPORC9MDSP18DC',
 u'MPORC9WD0P18DC',
 u'MPORC9WD0P18DF',
 u'MPORCH0BPP02DF',
 u'MPORCHBBQP02DF',
 u'MPORCHKROP10DF',
 u'MPORCHORIP10DF',
 u'MPORCHOWDP10DF',
 u'MPORCKRBPP10DF',
 u'MPORDMKRSP20DF',
 u'MPORFILNDP20DC',
 u'MPORFLTEXK02DF',
 u'MPORPDMT0K02CF',
 u'MPORPMJW0K02CF',
 u'MPORPWLNDP09DC',
 u'MPORPWLNDP20DC',
 u'MPORQLEKKP10DC',
 u'MPORQLSORP10DF',
 u'MPORQTLBPP10DC',
 u'MPORQTLHSP10DC',
 u'MPORQTLHYP10DC',
 u'MPORTHDNYP20DF',
 u'MPORTHEKKP12DC',
 u'MPORWBPM1P01DF',
 u'MPORWBPM1P02DC',
 u'MPORWHSM1P01DF',
 u'MPORWHYM1P01DF',
 u'MPORWHYM1P02DC',
 u'MPORWKR00P02DF',
 u'MPORWKR00P10DC',
 u'MPORWKRBPP02DF',
 u'MPORWKRBPP10DC',
 u'MPORWKRMXP10DC',
 u'MPORWKRMXP10DF',
 u'MPORWM1BPP02DC',
 u'MPORWM1HSP02DC',
 u'MPORWM1HSRETDC',
 u'MPORWM1HYP02DC',
 u'MPORWM1HYRETDC',
 u'MPORWM1PKP02DC',
 u'MPORWM1PKRETDC',
 u'MPORWM4BPRETDC',
 u'MPORWMHM1P01DF',
 u'MPORWMHM1P02DC',
 u'MPORWNDORP01DF',
 u'MPORWNDORP02DC',
 u'MPORWNDORP04DC',
 u'P2JWF0000K02DC',
 u'P2JWF0000K02DF',
 u'P2JWF0HSZK12DC',
 u'P3JW00000K02PF',
 u'P3JW0000ZK25DC',
 u'P3JW00BRUK02DF',
 u'P3JW07090K02DC',
 u'P3JW07090K02DF',
 u'P3JW08100K02DC',
 u'P3JW08100K02DF',
 u'P3JW0911ZK12DC',
 u'P3JWLTGIFK02DF',
 u'P3JWS0000K02DC',
 u'P3JWS0000K02DF',
 u'P3JWSFPDZK12DC',
 u'PDMT03446K02DC',
 u'PDMT04050K02DF',
 u'PDMTF0000K02DC',
 u'PDMTF0000K02DF',
 u'PDMTF000ZK25DC',
 u'PDMTFBRDZK12DC',
 u'PDMTFBRDZK12DF',
 u'PDMTFFPDZK12DC',
 u'PDMTFFPDZK12DF',
 u'PDMTMF000150DC',
 u'PDMTMF000150DF',
 u'PMJW02636K02DC',
 u'PMJWF0000K01DC',
 u'PMJWF0000K01DF',
 u'PMJWF0000K02DC',
 u'PMJWF0000K02DF',
 u'PMJWF000ZK25DC',
 u'PMJWF00FZK12DC',
 u'PMJWF00FZK12DF',
 u'PMJWMF000150DC',
 u'PMJWMF000150DF',
 u'WBL1BP000P10DC',
 u'WBL1BP000P10DF',
 u'WBL1SPG41P01DC',
 u'WBL1SPHFGP01DC',
 u'WBL1SPHFGP01DF',
 u'WBM1BP000P10DC',
 u'WBM1BP000P10DF',
 u'WBM1SP000P01DC',
 u'WBM1SP000P01DF',
 u'WBM1SP0JDP01DF',
 u'WBM2BP000P10DC',
 u'WBM2BP000P10DF',
 u'WBM2SP000P01DC',
 u'WBM2SP000P01DF',
 u'WBM2SPGCHP01DC',
 u'WBS2BP000P10DC',
 u'WBS2BP000P10DF',
 u'WNC03P000P03DC',
 u'WNC03P000P03DF',
 u'WNC03P0S2P03DC',
 u'WNC03P0S2P03DF'}

In [50]:
len(ff['Fresh SKU'])

51

In [30]:
len(set(y['item code']))

220

In [33]:
len(set(demand_fresh['item code']))

96

In [11]:
products = list(set(demand_fresh['item code']).intersection(set(y['item code'])).union(set(demand_frozen['item code']).intersection(set(y['item code']))))

In [10]:
set(demand_frozen['item code']).intersection(set(y['item code'])))

60

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'