In [2]:
import pandas as pd
import numpy as np

In [11]:
bird_type_ratio = pd.read_excel('Model_Input_Final.xlsm', sheetname='Bird_Type_Ratio')
bird_type_ratio = bird_type_ratio.dropna(axis='columns', how='all')

In [2]:
# bird_type_ratio['Bird Type']

In [3]:
R = 4.0
r = 1
while r <= R :
    print np.nan_to_num(float(bird_type_ratio[bird_type_ratio['Bird Type']==r]['Ratio'].iloc[0]))
    r += 0.05

NameError: name 'bird_type_ratio' is not defined

In [2]:
def getSheetName(file_name):
    pointSheetObj = []
    import xlrd as xl
    TeamPointWorkbook = xl.open_workbook(file_name)
    pointSheets = TeamPointWorkbook.sheet_names()

    for i in pointSheets:
        pointSheetObj.append(tuple((TeamPointWorkbook.sheet_by_name(i),i)))
    return pointSheetObj

In [3]:
p = getSheetName('Model_Input_Final.xlsm')
p

[(<xlrd.sheet.Sheet at 0x7fcfd5b19d50>, u'Information'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19d90>, u'Demand_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19dd0>, u'Demand_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e10>, u'Selling_Price_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e50>, u'Selling_Price_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19e90>, u'Penalty_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f10>, u'Penalty_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f50>, u'Holding_Cost_Fresh'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19f90>, u'Holding_Cost_Frozen'),
 (<xlrd.sheet.Sheet at 0x7fcfd5b19fd0>, u'Operational_Cost'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895090>, u'Operation_Time'),
 (<xlrd.sheet.Sheet at 0x7fcfd58950d0>, u'Operational_Cost_Overtime'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895150>, u'Cutting_Pattern'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895190>, u'Item_Product_Group_Map'),
 (<xlrd.sheet.Sheet at 0x7fcfd58951d0>, u'Available_Hour_Regular'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895250>, u'Bird_Type_Ratio'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895290>, u'Common_Data'),
 (<xlrd.sheet.Sheet at 0x7fcfd58952d0>, u'Availability'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895310>, u'Available_Hour_Overtime'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895350>, u'Initial_Inventory'),
 (<xlrd.sheet.Sheet at 0x7fcfd58953d0>, u'SKU Conversion'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895410>, u'Product_Group_Yield'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895450>, u'Raw_Material'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895490>, u'Fresh_Frozen_Relation'),
 (<xlrd.sheet.Sheet at 0x7fcfd58954d0>, u'Shelf_Life'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895550>, u'Yield_Originals'),
 (<xlrd.sheet.Sheet at 0x7fcfd5895590>, u'Yield')]

In [6]:
demand_fresh = pd.read_excel('Model_Input.xlsm', sheet_name="Demand_Fresh")
demand_fresh = demand_fresh.dropna(axis='columns', how='all')

In [7]:
demand_fresh.columns

Index(['item code ', 'item description', 'Week 1', 'Week 2', 'Week 3',
       'Week 4', 'Unnamed: 12'],
      dtype='object')

In [5]:
(set(demand_fresh['item description'])).difference(set(frozen['item description']))
(set(demand_fresh['item description'])).difference(set(frozen['item description']))

NameError: name 'demand_fresh' is not defined

In [71]:
len(set(frozen['item description']))

117

In [20]:
frozen = pd.read_excel('Model_Input.xlsm', sheetname="Demand_Frozen")
frozen = frozen.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [34]:
fro = []
for i in set(frozen['item description'].unique()):
    fro.append(i[:-2])

In [36]:
len(fro)

119

In [33]:
fre = []
for i in set(demand_fresh['item code '].unique()):
    fre.append(i[:-2])

In [37]:
len(fre)

109

In [66]:
len(set(fre).intersection(set(fro)))

51

In [65]:
(set(fro).difference(set(fre)))

set()

In [46]:
len(set(fre).union(set(fro)))

178

In [10]:
shelf_life = pd.read_excel('Model_Input.xlsm', sheetname="Shelf_Life")
shelf_life = shelf_life.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [4]:
shelf_life

NameError: name 'shelf_life' is not defined

In [12]:
y = pd.read_excel('Model_Input.xlsm', sheetname="Yield")
y = y.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [13]:
len(y['Product'].unique())

109

In [61]:
d = pd.DataFrame()

In [62]:
d['Fresh'] = sorted(fre)

In [63]:
d1 = pd.DataFrame()
d1['Frozen'] = sorted(fro)

In [64]:
d2 =pd.concat([d,d1], ignore_index=True, axis=1)

In [65]:
d2.to_csv('products.csv')

In [102]:
wa = [1+n*24 for n in range(0,15)]
wa

[1, 25, 49, 73, 97, 121, 145, 169, 193, 217, 241, 265, 289, 313, 337]

In [105]:
wb = [9+n*24 for n in range(0,15)]
wb

[9, 33, 57, 81, 105, 129, 153, 177, 201, 225, 249, 273, 297, 321, 345]

In [1]:
import pandas as pd

In [2]:
fresh_sold = pd.read_csv('Fresh_Product_Sold.csv')
fresh_sold

            days  Day_1  Day_2  Day_3  Day_4
0         Ribs_1   1463    777   1629   1447
1        Keels_1   1397   1569   1106   1700
2         Legs_1   1322   1550   1184   1161
3        Thigh_1   1269   1525   1331   1589
4        Wings_1    806   1147    431   1598
5      Breasts_1    577   1057    404   1715
6   Drumsticks_1   3411   3411   3407   3411
7         Ribs_2   1625    133   1492   1158
8        Keels_2   1104   1467   1151   1857
9         Legs_2   1138   1628   1375   1792
10       Thigh_2   1426   1102   1574   1162
11       Wings_2   1106   1813   1122   1598
12     Breasts_2    729   1076    265   1222
13  Drumsticks_2   1196   1164   1451   1483

In [13]:
fresh_sold = pd.read_csv('Fresh_Product_Sold.csv')
fresh_sold[['Products','Customer']] = pd.DataFrame(fresh_sold.days.str.split('_',1).tolist(),
                                   columns = ['Products','Customer'])
del fresh_sold['days']
fresh_sold['keyfigure'] = "fresh_sold"
fresh_sold

    Day_1  Day_2  Day_3  Day_4    Products Customer   keyfigure
0    1463    777   1629   1447        Ribs        1  fresh_sold
1    1397   1569   1106   1700       Keels        1  fresh_sold
2    1322   1550   1184   1161        Legs        1  fresh_sold
3    1269   1525   1331   1589       Thigh        1  fresh_sold
4     806   1147    431   1598       Wings        1  fresh_sold
5     577   1057    404   1715     Breasts        1  fresh_sold
6    3411   3411   3407   3411  Drumsticks        1  fresh_sold
7    1625    133   1492   1158        Ribs        2  fresh_sold
8    1104   1467   1151   1857       Keels        2  fresh_sold
9    1138   1628   1375   1792        Legs        2  fresh_sold
10   1426   1102   1574   1162       Thigh        2  fresh_sold
11   1106   1813   1122   1598       Wings        2  fresh_sold
12    729   1076    265   1222     Breasts        2  fresh_sold
13   1196   1164   1451   1483  Drumsticks        2  fresh_sold

In [4]:
Fresh_sold = pd.concat([fresh_sold, fresh_sold1], axis=1)

In [5]:
Fresh_sold

            days  Day_1  Day_2  Day_3  Day_4    Products Customer
0         Ribs_1   1463    777   1629   1447        Ribs        1
1        Keels_1   1397   1569   1106   1700       Keels        1
2         Legs_1   1322   1550   1184   1161        Legs        1
3        Thigh_1   1269   1525   1331   1589       Thigh        1
4        Wings_1    806   1147    431   1598       Wings        1
5      Breasts_1    577   1057    404   1715     Breasts        1
6   Drumsticks_1   3411   3411   3407   3411  Drumsticks        1
7         Ribs_2   1625    133   1492   1158        Ribs        2
8        Keels_2   1104   1467   1151   1857       Keels        2
9         Legs_2   1138   1628   1375   1792        Legs        2
10       Thigh_2   1426   1102   1574   1162       Thigh        2
11       Wings_2   1106   1813   1122   1598       Wings        2
12     Breasts_2    729   1076    265   1222     Breasts        2
13  Drumsticks_2   1196   1164   1451   1483  Drumsticks        2

In [6]:
df = Fresh_sold
del df['days']

In [7]:
df

    Day_1  Day_2  Day_3  Day_4    Products Customer
0    1463    777   1629   1447        Ribs        1
1    1397   1569   1106   1700       Keels        1
2    1322   1550   1184   1161        Legs        1
3    1269   1525   1331   1589       Thigh        1
4     806   1147    431   1598       Wings        1
5     577   1057    404   1715     Breasts        1
6    3411   3411   3407   3411  Drumsticks        1
7    1625    133   1492   1158        Ribs        2
8    1104   1467   1151   1857       Keels        2
9    1138   1628   1375   1792        Legs        2
10   1426   1102   1574   1162       Thigh        2
11   1106   1813   1122   1598       Wings        2
12    729   1076    265   1222     Breasts        2
13   1196   1164   1451   1483  Drumsticks        2

In [248]:
df_1 = df[(df['Customer']=='1')]

In [249]:
df_2 = df[df['Customer']=='2']

In [250]:
df_final = pd.concat([df_1.T,df_2.T],axis=1)

In [251]:
df_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Day_1,1463,1397,1322,1269,806,577,3411,1625,1104,1138,1426,1106,729,1196
Day_2,830,1569,1550,1525,1095,1057,3411,186,1467,1628,1102,1761,1076,1164
Day_3,1635,1106,1184,1331,425,404,3407,1498,1151,1375,1574,1116,265,1451
Day_4,1447,1700,1161,1589,1598,1715,3411,1158,1857,1792,1162,1598,1222,1483
Products,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks
Customer,1,1,1,1,1,1,1,2,2,2,2,2,2,2

In [241]:
def sjoin(x): return ';'.join(x[x.notnull()].astype(str))
df_final.groupby(level=0, axis=1).apply(lambda x: x.apply(sjoin, axis=1))

   Customer   Day_1   Day_2   Day_3   Day_4    Products
0         1  1463.0   830.0  1635.0  1447.0        Ribs
1         1  1397.0  1569.0  1106.0  1700.0       Keels
2         1  1322.0  1550.0  1184.0  1161.0        Legs
3         1  1269.0  1525.0  1331.0  1589.0       Thigh
4         1   806.0  1095.0   425.0  1598.0       Wings
5         1   577.0  1057.0   404.0  1715.0     Breasts
6         1  3411.0  3411.0  3407.0  3411.0  Drumsticks
7         2  1625.0   186.0  1498.0  1158.0        Ribs
8         2  1104.0  1467.0  1151.0  1857.0       Keels
9         2  1138.0  1628.0  1375.0  1792.0        Legs
10        2  1426.0  1102.0  1574.0  1162.0       Thigh
11        2  1106.0  1761.0  1116.0  1598.0       Wings
12        2   729.0  1076.0   265.0  1222.0     Breasts
13        2  1196.0  1164.0  1451.0  1483.0  Drumsticks

In [164]:
df = df.drop('days')

In [180]:
df=df.T

In [191]:
df =df.drop(' Products')

In [194]:
df

           Day_1 Day_2 Day_3 Day_4 Customer
Products
Ribs        1463   830  1635  1447        1
Keels       1397  1569  1106  1700        1
Legs        1322  1550  1184  1161        1
Thigh       1269  1525  1331  1589        1
Wings        806  1095   425  1598        1
Breasts      577  1057   404  1715        1
Drumsticks  3411  3411  3407  3411        1
Ribs        1625   186  1498  1158        2
Keels       1104  1467  1151  1857        2
Legs        1138  1628  1375  1792        2
Thigh       1426  1102  1574  1162        2
Wings       1106  1761  1116  1598        2
Breasts      729  1076   265  1222        2
Drumsticks  1196  1164  1451  1483        2

In [64]:
bird_count = pd.read_csv("Bird_Count.csv")
# bird_count.columns = range(bird_count.shape[1])
bird_count.columns = ['Days','Number']
bird_count = bird_count.T
bird_count = bird_count.drop("Days")
bird_count.columns = ['Day_1','Day_2','Day_3','Day_4']
bird_count['keyfigure'] = "bird_count"

In [48]:
bird_count = bird_count.T
bird_count

   Days Number
0  A[1]   5620
1  A[2]   4800
2  A[3]   4970
3  A[4]   3560

In [1]:
import pandas as pd

In [16]:
data = pd.read_excel('2test.xlsm', sheetname="Demand_Fresh")
data = data.dropna(axis='columns', how='all')

In [17]:
data.head()

             days  1
0  BBR0F0000K02DC  1
1  BBRSF0000K02DC  2
2  BBRSF0000RETDC  3
3  BBRSMF000K04DC  4
4  CTH013160K02DC  5

In [18]:
from itertools import product
# pd.DataFrame(list(product(l1, l2)), columns=['l1', 'l2'])
d = pd.DataFrame(list(product(data['days'], data[1])))
d
d['Combined'] = list(zip(d[0], d[1]))
lst = []
for i in d['Combined']:
    lst.append(i[0]+'_'+str(i[1]))
d['Combined']=lst
d.to_csv('Combined.csv')

In [6]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
data = data.dropna(axis='columns', how='all')

In [5]:
data = data.reset_index()

In [5]:
data.head()

,Product,Cutting Pattern,1.6,1.65,1.7,1.75,1.8,1.85,1.9,1.95,2,2.05,2.1,2.15,2.2,2.25,2.3,2.35,2.4
0,BBR02325ZK12DC,11,0.307559,0.317170,0.326781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBR02325ZK12DC,18,0.307559,0.317170,0.326781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BBR0F0000K02DC,9,0.316803,0.326703,0.336603,0.346503,0.371000,0.381305,0.391611,0.401916,0.428440,0.439151,0.449862,0.460573,0.440127,0.450130,0.460133,0.470136,0.480139
3,BBR0F0000K02DC,16,0.316803,0.326703,0.336603,0.346503,0.371000,0.381305,0.391611,0.401916,0.428440,0.439151,0.449862,0.460573,0.440127,0.450130,0.460133,0.470136,0.480139
4,BBR0F0000K02DC,10,0.272914,0.281443,0.289971,0.298500,0.326576,0.335648,0.344719,0.353791,0.384582,0.394197,0.403811,0.413426,0.379843,0.388476,0.397109,0.405742,0.414375

In [6]:
data.columns

Index([        u'Product', u'Cutting Pattern',                1.6,
                     1.65,                1.7,               1.75,
                      1.8,               1.85,                1.9,
                     1.95,                  2,               2.05,
                      2.1,               2.15,                2.2,
                     2.25,                2.3,               2.35,
                      2.4],
      dtype='object')

In [7]:
bird_ratio =  pd.read_excel('Model_Input_Final.xlsm', sheetname="Bird_Type_Ratio",)
bird_ratio = bird_ratio.dropna(axis='columns', how='all')

In [9]:
item_group =  pd.read_excel('Model_Input_Final.xlsm', sheetname="Item_Product_Group_Map",)
item_group  = item_group .dropna(axis='columns', how='all')

In [10]:
len(item_group['Item'])

220

In [2]:
demand_fresh = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Fresh")
demand_fresh = demand_fresh.dropna(axis='columns', how='all')

In [3]:
demand_frozen = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Frozen")
demand_frozen = demand_frozen.dropna(axis='columns', how='all')
len(demand_frozen['item code'])

119

In [4]:
ff = pd.read_excel('Model_Input_Final.xlsm', sheetname="Fresh_Frozen_Relation")
ff = ff.dropna(axis='columns', how='all')
len(ff)

51

In [14]:
fre = []
for i in set(ff['Fresh SKU'].unique()):
    fre.append(i[:-2])
fro = []
for i in set(ff['Frozen SKU'].unique()):
    fro.append(i[:-2])
dfre = []
for i in set(demand_fresh['item code'].unique()):
    dfre.append(i[:-2])
dfro = []
for i in set(demand_frozen['item code'].unique()):
    dfro.append(i[:-2])

In [5]:
demand = list(demand_fresh['item code'])+list(demand_frozen['item code'])

In [6]:
demand_fresh.columns

Index([u'item code', 1, 2, 3, 4], dtype='object')

In [7]:
ff =ff.astype(str)
for i in demand_frozen['item code'].astype(str).unique():
    if i in ff['Frozen SKU'].astype(str).unique():
        demand_frozen['item code'][demand_frozen.index[demand_frozen['item code']==i]]=ff['Fresh SKU'][ff.index[ff['Frozen SKU']==i]]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [1]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
data['Marination Yield (%)']=data['Marination Yield (%)'].fillna(value=100)
data=data.fillna(0)
data

NameError: name 'pd' is not defined

In [18]:
np.nan_to_num(float("Nan"))*np.nan_to_num(float("Nan"))

0.0

In [19]:
p =np.nan_to_num(float(data[(data['item code']=='C9PCGCH00P18DF') & (data['Cutting Pattern']==1)][1.35].iloc[0]))*(np.nan_to_num(data['Marination Yield (%)'][data['item code']=='C9PCGCH00P18DF']))

In [27]:
p[0]

0.0

In [16]:
data['Marination Yield (%)'][data['item code']=='C9PCGCH00P18DF']

1   NaN
Name: Marination Yield (%), dtype: float64

In [65]:
shelf_lif = pd.read_excel('Model_Input_Final.xlsm', sheetname='Shelf_Life')
shelf_lif['item code'] = shelf_lif['item code'].astype(str)
shelf_life = max(shelf_lif['Shelf_Life'])
shelf_lif[shelf_lif['item code']=='BBR0F0000K02DC']['Shelf_Life'].iloc[0]

365.0

In [96]:
data =data.reset_index()

In [71]:
for i in demand_fresh.columns[1:]:
    print(type(i))

<type 'unicode'>
<type 'unicode'>
<type 'unicode'>
<type 'unicode'>

In [83]:
availability = pd.read_excel('Model_Input_Final.xlsm' ,sheetname='Availability')
availability = availability.dropna(axis='columns', how='all')

In [91]:
availability[availability['Days']=='Week 2']['Availability'].iloc[0]

91368

In [94]:
demand_fresh.head()

        item code        Week 1        Week 2        Week 3        Week 4
0  BBR0F0000K02DC   1918.683075   1918.683075   1918.683075   1918.683075
1  BBRSF0000K02DC    680.368225    680.368225    680.368225    680.368225
2  BBRSMF000K04DC  31383.528650  31383.528650  31383.528650  31383.528650
3  BFL0F0000K02DC   2576.113525   2576.113525   2576.113525   2576.113525
4  BLG0F0000K02DC    465.139750    465.139750    465.139750    465.139750

In [96]:
demand_fresh[demand_fresh['item code']=='BBR0F0000K02DC']['Week 1'].iloc[0]

1918.6830749999999

In [5]:
y = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
y = y.dropna(axis='columns', how='all')

In [13]:
y['item code'][y['item code']=='BBR0F0000K02DC']

2    BBR0F0000K02DC
3    BBR0F0000K02DC
4    BBR0F0000K02DC
5    BBR0F0000K02DC
Name: item code, dtype: object

In [45]:
for i in y['item code'].astype(str).unique():
    if i in ff['Frozen SKU'].astype(str).unique():
        print(ff['Fresh SKU'][ff.index[ff['Frozen SKU']==i]])
len(set(y['item code']))

192

In [3]:
# set(ff['Fresh SKU']).union(set(ff['Frozen SKU'])).union(set(y['item code'])).union(set(demand_fresh['item code'])).union(set(demand_frozen['item code']))

In [50]:
len(ff['Fresh SKU'])

51

In [30]:
len(set(y['item code']))

220

In [33]:
len(set(demand_fresh['item code']))

96

In [11]:
products = list(set(demand_fresh['item code']).intersection(set(y['item code'])).union(set(demand_frozen['item code']).intersection(set(y['item code']))))

In [10]:
set(demand_frozen['item code']).intersection(set(y['item code'])))

60

In [2]:
import pandas as pd
import numpy as np

In [11]:
selling_price = pd.read_excel('Model_Input_Final.xlsm', sheetname="Selling_Price_Fresh")

In [12]:
selling_frozen = pd.read_excel('Model_Input_Final.xlsm', sheetname="Selling_Price_Frozen")

In [3]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
data = data[data['Cutting Pattern'].isin([1,2,36])]
data = data.dropna(axis='columns', how='all')
sku_list = data['item code']
data

/home/rishi/.local/lib/python2.7/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

,item code,Cutting Pattern,1.35,1.4,1.45,1.5,1.55,1.6,1.65,1.7,...,1.85,1.9,1.95,2,2.05,2.1,2.15,2.2,2.25,Marination Yield (%)
201,C3JW00BRUK02DF,1,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
202,C3JW00BRUK02DF,2,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
204,C3JW07100K02DC,1,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,C3JW07100K02DC,2,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,C3JW07100K02DF,1,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,C3JW07100K02DF,2,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,C3JW0710ZK12DC,1,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,C3JW0710ZK12DC,2,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,C3JW09120K04DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,NaN,NaN,NaN,NaN
214,C3JW09120K04DF,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
216,C3JW09130K02DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
217,C3JW09130K02DC,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
219,C3JW09130K02DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
220,C3JW09130K02DF,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
222,C3JW0913VP06DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
223,C3JW0913VP06DC,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
225,C3JW0913VP06DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
226,C3JW0913VP06DF,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
228,C3JW0WIPZK12DC,1,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
229,C3JW0WIPZK12DC,2,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
231,C3JWL0000K02DF,1,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
232,C3JWL0000K02DF,2,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,0.212179,0.217913,0.223648,0.234691,0.240558,0.246426,0.252293,0.258160,NaN,NaN
234,C3JWNSBRUK02DF,1,NaN,0.160568,0.166302,0.172037,0.177771,0.183506,0.189240,0.194975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,C3JWNSBRUK02DF,2,NaN,NaN,NaN,NaN,NaN,0.183506,0.189240,0.194975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,C8PC0TEXZP16DC,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.248750,1.282500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,C9PC00000P18DC,1,NaN,NaN,0.978750,1.012500,1.046250,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,C9PC00000P18DF,1,NaN,NaN,0.978750,1.012500,1.046250,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,C9PC00WDZP18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,C9PC0WIPZP18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,C9PCAW000P18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,C9PCAW000P18DF,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,C9PCAW00ZP18DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.248750,1.282500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,C9PCGCH00P18DF,1,NaN,NaN,NaN,NaN,NaN,NaN,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,C9PCMD000P18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,C9PCMD000P18DF,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,C9PCMD00ZP18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,C9PCMDSTZP18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,C9PCWBM20P18DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.248750,1.282500,1.316250,1.350000,1.383750,1.417500,1.451250,NaN,NaN,NaN
253,C9PCWBM20P18DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.248750,1.282500,1.316250,1.350000,1.383750,1.417500,1.451250,NaN,NaN,NaN
312,CKE00WIPZK12DC,1,0.121855,0.126369,0.130882,0.135395,0.139908,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,0.185040,0.189553,0.194066,0.198579,0.203092,NaN
313,CKE01218VP04DC,1,NaN,NaN,NaN,NaN,NaN,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,NaN,NaN,NaN,NaN,NaN,NaN
314,CKE01218VP04DF,1,NaN,NaN,NaN,NaN,NaN,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,NaN,NaN,NaN,NaN,NaN,NaN
315,CKE0F0000K02DC,1,0.121855,0.126369,0.130882,0.135395,0.139908,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,0.185040,0.189553,0.194066,0.198579,0.203092,NaN
316,CKE0F0000K02DF,1,0.121855,0.126369,0.130882,0.135395,0.139908,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,0.185040,0.189553,0.194066,0.198579,0.203092,NaN
317,CKE0F000ZK12DC,1,0.121855,0.126369,0.130882,0.135395,0.139908,0.144421,0.148934,0.153448,...,0.166987,0.171500,0.176013,0.180526,0.185040,0.189553,0.194066,0.198579,0.203092,NaN
329,CRB00WIPZK12DC,1,NaN,NaN,0.301884,0.312294,0.322704,0.333114,0.343523,0.353933,...,0.385163,0.395572,0.405982,0.425696,0.436338,0.446981,0.457623,0.468266,0.478908,NaN
330,CRB015190K02DC,1,NaN,NaN,0.301884,0.312294,0.322704,0.333114,0.343523,0.353933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,CRB015190K02DF,1,NaN,NaN,0.301884,0.312294,0.322704,0.333114,0.343523,0.353933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,CRB015190K06DC,1,NaN,NaN,0.301884,0.312294,0.322704,0.333114,0.343523,0.353933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,CRB019240K02DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.385163,0.395572,0.405982,0.425696,0.436338,0.446981,0.457623,0.468266,0.478908,NaN
334,CRB019240K02DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.385163,0.395572,0.405982,0.425696,0.436338,0.446981,0.457623,0.468266,0.478908,NaN
335,CRB019240K06DC,1,NaN,NaN,0.301884,0.312294,0.322704,0.333114,0.343523,0.353933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,CRB01924VP04DC,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.385163,0.395572,0.405982,0.425696,0.436338,0.446981,0.457623,0.468266,0.478908,NaN
337,CRB01924VP04DF,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.385163,0.395572,0.405982,0.425696,0.436338,0.446981,0.457623,0.468266,0.478908,NaN
352,MPORC8TEXP16DC,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.0
353,MPORC9MD0P18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.0
354,MPORC9MDSP18DC,1,NaN,NaN,NaN,NaN,NaN,1.080000,1.113750,1.147500,...,1.248750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.0
361,MPORWKR00P10DC,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0
363,MPORWKRBPP10DC,36,NaN,NaN,NaN,NaN,NaN,NaN,1.212750,1.249500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0
378,MPORWNDORP04DC,36,NaN,NaN,NaN,NaN,NaN,NaN,1.212750,1.249500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.5

In [4]:
demand_fresh = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Fresh")
fresh_sku = list(demand_fresh[demand_fresh['item code'].isin(sku_list)]['item code'])
demand_fresh = demand_fresh[demand_fresh['item code'].isin(fresh_sku)]
sum(demand_fresh[1])

29876.394441666664

In [5]:
demand_frozen = pd.read_excel('Model_Input_Final.xlsm', sheetname="Demand_Frozen")
demand_frozen = demand_frozen.dropna(axis='columns', how='all')
frozen_sku = list(demand_frozen[demand_frozen['item code'].isin(sku_list)]['item code'])
demand_frozen = demand_frozen[demand_frozen['item code'].isin(sku_list)]
sum(demand_frozen[1])

3492.633616666667

In [6]:
all_sku = fresh_sku + frozen_sku
len(all_sku)

29

In [17]:
data = pd.read_excel('Model_Input_Final.xlsm', sheetname="Yield",)
# data = data[data['item code'].isin(all_sku)][['item code','Cutting Pattern',1.6,1.65,1.7,1.75,1.8]]
data = data[data['item code'].isin(sku_list) & data['Cutting Pattern'].isin([36,2,1])][['item code','Cutting Pattern',1.6,1.65,1.7,1.75,1.8]]
sku_list = data['item code']

In [18]:
data

          item code  Cutting Pattern   1.6     1.65     1.7     1.75    1.8
352  MPORC8TEXP16DC                2   NaN      NaN  1.1475  1.18125  1.215
353  MPORC9MD0P18DC                1  1.08  1.11375  1.1475  1.18125  1.215
354  MPORC9MDSP18DC                1  1.08  1.11375  1.1475  1.18125  1.215
361  MPORWKR00P10DC               36   NaN      NaN     NaN  1.28625  1.323
363  MPORWKRBPP10DC               36   NaN  1.21275  1.2495  1.28625  1.323
378  MPORWNDORP04DC               36   NaN  1.21275  1.2495  1.28625  1.323

In [25]:
data = data[data['Cutting Pattern'].isin([1,4])]

In [31]:
111*1.1475+6007*0.1949

1298.1368

In [29]:
data.dropna()
y_1 = np.mean(data[data['Cutting Pattern']==1][1.7])
y_4 = np.mean(data[data['Cutting Pattern']==4][1.7])
print(y_1)
print(y_4)

0.5245921947483801
0.194974868281087

In [16]:
selling_price= selling_price[selling_price['item code'].isin(sku_list)]
selling_price = selling_price[selling_price['Priority']==3]
sku_list = selling_price['item code']

In [14]:
selling_frozen= selling_frozen[selling_frozen['item code'].isin(sku_list)]
selling_frozen = selling_frozen[selling_frozen['Priority']==3]
selling_frozen

,item code,Selling Price Frozen (in RM/kg),Priority,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Go Back To Information Tab
23,C3JW00BRUK02DF,11.541180,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,C3JWL0000K02DF,11.555856,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,C9PCGCH00P18DF,8.688183,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
cp = [[1, 6, 7, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [2, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24], [3, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 0, 0, 0, 0, 0, 0]]
cp = [list(filter(lambda x: x > 0, i)) for i in cp]

In [11]:
production_count = pd.read_csv("production_count.csv")

In [12]:
production_count.head()

   Bird_Type  Cutting_pattern  Day   count         keyfigure
0        1.6                1    2  4120.0  Pattern_Count_RT
1        1.6                1    3  4120.0  Pattern_Count_RT
2        2.3                1    2  1144.0  Pattern_Count_RT
3        2.4                1    1   824.0  Pattern_Count_RT
4        1.7                2    1  2584.0  Pattern_Count_RT

In [28]:
production_count['Cutting_pattern'] = np.where(production_count['Cutting_pattern'].isin([1,2,3,4,35,36]), 'section4',
                           np.where(production_count['Cutting_pattern'].isin([6,7,8]),'section1',
                                    (np.where(production_count.Cutting_pattern == 5,'section5'
                                    ,np.where(production_count['Cutting_pattern'].isin([25,26,27,28,29,30,31,32,33,34]),'section3'),
                                              'section2'))))

ValueError: either both or neither of x and y should be given

In [34]:
production_count['section'] = np.where(production_count['Cutting_pattern'].isin([1,2,3,4,35,36]),
                                       np.where(production_count['Cutting_pattern'].isin([6,7,8]),'sec1','sec2'),'sec3')

In [38]:
 z = {1:'sec4',2:'sec4',3:'sec4',4:'sec4',35:'sec4',36:'sec4',5:'sec5',
6:'sec1',7:'sec1',8:'sec1',9:'sec2',10:'sec2',11:'sec2',12:'sec2',13:'sec2',14:'sec2',15:'sec2',16:'sec2',17:'sec2',18:'sec2',19:'sec2',20:'sec2',21:'sec2',22:'sec2',23:'sec2',
25:'sec3',26:'sec3',27:'sec3',28:'sec3',29:'sec3',30:'sec3',31:'sec3',32:'sec3',33:'sec3',34:'sec3',}
production_count['section'] = production_count['Cutting_pattern'].map(z)
production_count

     Bird_Type  Cutting_pattern  Day   count         keyfigure section
0         1.60                1    2  4120.0  Pattern_Count_RT    sec4
1         1.60                1    3  4120.0  Pattern_Count_RT    sec4
2         2.30                1    2  1144.0  Pattern_Count_RT    sec4
3         2.40                1    1   824.0  Pattern_Count_RT    sec4
4         1.70                2    1  2584.0  Pattern_Count_RT    sec4
5         1.70                2    2  2584.0  Pattern_Count_RT    sec4
6         1.70                2    3  2584.0  Pattern_Count_RT    sec4
7         2.45                2    1   824.0  Pattern_Count_RT    sec4
8         1.30                3    4   390.0  Pattern_Count_RT    sec4
9         1.65                3    3     8.0  Pattern_Count_RT    sec4
10        2.35                4    2   824.0  Pattern_Count_RT    sec4
11        2.45                4    2   824.0  Pattern_Count_RT    sec4
12        1.65                5    1   305.0  Pattern_Count_RT    sec5
13        1.65                5    2   305.0  Pattern_Count_RT    sec5
14        1.75                5    4  5768.0  Pattern_Count_RT    sec5
15        1.80                5    1  3507.0  Pattern_Count_RT    sec5
16        1.80                5    3  3507.0  Pattern_Count_RT    sec5
17        1.80                5    4  3507.0  Pattern_Count_RT    sec5
18        1.90                5    2  5582.0  Pattern_Count_RT    sec5
19        2.20                5    1  2472.0  Pattern_Count_RT    sec5
20        1.35                6    4   824.0  Pattern_Count_RT    sec1
21        1.40                6    2  1648.0  Pattern_Count_RT    sec1
22        1.40                6    3  1648.0  Pattern_Count_RT    sec1
23        1.40                6    4  1648.0  Pattern_Count_RT    sec1
24        1.45                6    1  2467.0  Pattern_Count_RT    sec1
25        1.45                6    2  2467.0  Pattern_Count_RT    sec1
26        1.45                6    3  2467.0  Pattern_Count_RT    sec1
27        1.45                6    4  2467.0  Pattern_Count_RT    sec1
28        1.50                6    1  2472.0  Pattern_Count_RT    sec1
29        1.50                6    3  2472.0  Pattern_Count_RT    sec1
..         ...              ...  ...     ...               ...     ...
197       1.45               35    1     5.0  Pattern_Count_OT    sec4
198       1.45               35    2     5.0  Pattern_Count_OT    sec4
199       1.45               35    3     5.0  Pattern_Count_OT    sec4
200       1.90               35    2   186.0  Pattern_Count_OT    sec4
201       2.00               35    3  2833.0  Pattern_Count_OT    sec4
202       2.15               35    1  2472.0  Pattern_Count_OT    sec4
203       2.15               35    2  2472.0  Pattern_Count_OT    sec4
204       2.15               35    4  2097.0  Pattern_Count_OT    sec4
205       2.20               35    4   526.0  Pattern_Count_OT    sec4
206       2.30               35    1   504.0  Pattern_Count_OT    sec4
207       2.30               35    2   504.0  Pattern_Count_OT    sec4
208       2.45               35    3   474.0  Pattern_Count_OT    sec4
209       1.50               36    4  2472.0  Pattern_Count_OT    sec4
210       1.65               36    2  1597.0  Pattern_Count_OT    sec4
211       1.85               36    2  1598.0  Pattern_Count_OT    sec4
212       1.85               36    4  1598.0  Pattern_Count_OT    sec4
213       2.00               36    1  4944.0  Pattern_Count_OT    sec4
214       2.00               36    3  2111.0  Pattern_Count_OT    sec4
215       2.05               36    1  4120.0  Pattern_Count_OT    sec4
216       2.05               36    4  4120.0  Pattern_Count_OT    sec4
217       2.10               36    1  3127.0  Pattern_Count_OT    sec4
218       2.10               36    3  3296.0  Pattern_Count_OT    sec4
219       2.10               36    4  3296.0  Pattern_Count_OT    sec4
220       2.15               36    3  2472.0  Pattern_Count_OT    sec4
221       2.15               36    4   375.0  Pattern_Count_OT    sec4
222       2.20               36    3  2472.0  Pattern_Count_OT    sec4
223       2.20               36    4  1946.0  Pattern_Count_OT    sec4
224       2.25               36    1  1648.0  Pattern_Count_OT    sec4
225       2.25               36    4  1648.0  Pattern_Count_OT    sec4
226       2.30               36    1  1144.0  Pattern_Count_OT    sec4

[227 rows x 6 columns]